@import "./spacings", "./colours", "./typography";

.underline-indicators {
  width: 100%;

  > * {
    background-color: transparent;
    align-items: center;
    height: var(--list-height, $default-list-height);
    border: 0;
    border-bottom: var(--element-border-bottom, none);
    border-right: var(--element-border-right, none);
    cursor: pointer;
    &:focus {
      border-color: #{"hsl(#{$clr-white} / 50%)"};
    }

    @include md {
      height: var(--list-height, $default-list-height);
      border-bottom: var(--element-border-bottom, none);
      &:hover,
      &:focus {
        border-color: #{"hsl(#{$clr-white} / 50%)"};
      }
    }
  }

  > .active,
  > [aria-selected="true"] {
    color: #{"hsl(#{$clr-white} / 100%)"};
    border-color: #{"hsl(#{$clr-white} / 100%)"};
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  ~ main:first-of-type {
    padding-top: 4em;

    @include md {
      padding-top: 5.5em;
    }
  }
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: #000;
  color: #fff;
  text-align: center;
  transition: top 0.3s ease;

  &:focus {
    top: 0;
    z-index: 100;
  }
}
