.flex {
  display: flex;
  gap: var(--gap, $default-gap)
}

.grid {
  display: grid;
  gap: var(--gap, $default-gap)
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, $default-flow-space);
}

.container {
  padding-inline: 1.333em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
