@import '../styles/mixins';
@import '../styles/variables';

.crew {
  min-height: 100vh;
  background-image: url('../../../public/assets/crew/background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .content-wrapper {
    padding-top: 2.667em;
    width: 90%;

    @include md {
      padding-top: 2.222em;
    }

    @include lg {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    h1 {
      text-align: center;
      font-size: $fs-300;
      margin-bottom: 3.556em;

      @include md {
        font-size: 1.111em;
        text-align: start;
      }

      @include lg {
        font-size: $fs-500;
        margin-bottom: 1.893em;
      }
    }

    .crew-data-wrapper {
      flex-direction: column;
      @include lg {
        flex-direction: row;
      }
    }

    .crew-data {
      flex-direction: column;
      align-items: center;

      @include md {
        margin-top: 1em;
      }

      @include lg {
        margin-top: 4em;
        align-items: flex-start;
        justify-content: flex-end;
      }

      h2 {
        font-size: $fs-400;
        text-align: center;
        @include text-colour($clr-white, 50%);
        @include md {
          font-size: 1.5rem;
        }
        @include lg {
          text-align: start;
          font-size: $fs-600;
        }
        span {
          display: block;
          line-height: 1.5;
          font-size: 1.5rem;

          @include md {
            font-size: 2.5rem;
          }

          @include lg {
            font-size: $fs-700;
          }
        }
      }

      p {
        line-height: 1.8;
        max-width: 540px;
        min-height: 11.5em;
        text-align: center;
        font-size: $fs-200;

        @include md {
          font-size: $fs-300;
          min-height: 8em;
        }

        @include lg {
          text-align: start;
          font-size: $fs-400;
          margin-bottom: 10.5em;
        }
      }
    }

    img {
      margin: 2.805em auto;
      width: 271.24px;
      height: 340px;
      @include md {
        width: 446.74px;
        height: 560px;
      }
      @include lg {
        margin: 0 auto;
        width: 539.28px;
        height: 676px;
      }
    }
  }
}
