@import "../styles/variables";
@import "../styles/mixins";

.dot-indicators {
  @include lg {
    gap: 2.222em;
  }

  button {
    border-radius: 50%;
    width: 0.555em;
    aspect-ratio: 1/1;
    border: 0;
    cursor: pointer;
    @include bg-colour($clr-white, 25%);

    @include lg {
      width: 0.833em;
    }
  }

  button:hover {
    @include bg-colour($clr-white, 50%);
  }

  button:focus, .active,
  [aria-selected="true"] {
    @include bg-colour($clr-white);
  }
}
