@import "../styles/variables";
@import "../styles/mixins";

// Navbar styles
.navbar {
  display: inline;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 3rem;

  &.open {
    display: flex;
    opacity: 1;
    transition: opacity 0.9s ease;
  }

  @include md {
    display: flex;
    height: auto;
    margin-top: auto;
    opacity: 1;
  }
}

// Primary navigation styles
.primary-navigation {
  width: 14em;

  &.open {
    @include bg-colour($clr-white, 5%);
    backdrop-filter: blur(5px);
  }

  &.closed {
    backdrop-filter: blur(0px);
  }

  @include md {
    min-width: 640px;

    &.open,
    &.closed {
      display: flex;
      @include bg-colour($clr-white, 5%);
      backdrop-filter: blur(15px);
    }
  }

  @include lg {
    min-width: 736px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 97%;
      width: calc(90vw - 100%);
      padding-left: 2em;
      height: 1px;
      @include bg-colour($clr-white, 50%);
    }
  }

  // Hamburger menu styles
  .hamburger {
    position: static;
    display: block;
    margin: 2em 1.5em 0 auto;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    @include md {
      position: relative;
      margin: 0;
      display: none;
    }
  }

  // Navigation list styles
  ul {
    display: none;
    margin: 0;
    padding-left: 2em;

    &.open {
      display: flex;
      flex-direction: column;
    }

    @include md {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0;
      justify-content: space-evenly;
      opacity: 1;
      visibility: visible;
      --list-height: 4rem;
    }

    // Navigation link styles
    li {
      margin: 1em 0;
      --list-height: 1.188em;
      --element-border-right: 0.2rem solid #{"hsl(#{$clr-white} / 0)"};
      @include md {
        --list-height: 6rem;
        margin: 0 0;
        --element-border-right: 0;
        --element-border-bottom: 0.2rem solid #{"hsl(#{$clr-white} / 0)"};
        * {
          padding: 1.4em 0;
        }
      }
    }

    a {
      text-decoration: none;

      span {
        margin-right: 0.5em;
        font-weight: 700;
      }
    }
  }
}
