@import './styles/mixins';
@import './styles/variables';

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  @include md {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    min-height: 100vw;
    background-image: url('../../public/assets/home/background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transform: translate(-50%, -50%) rotate(90deg);

    @include lg {
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 30%;
    position: relative;
    z-index: 1;
    height: 100%;

    @include md {
      justify-content: space-evenly;
      margin-inline: 5em;
      padding-bottom: 5%;
    }

    @include lg {
      justify-content: space-between;
      flex-direction: row;
      margin-inline: 6.5em;
      margin-top: 20%;
      text-align: start;
      width: 100%;
    }
  }

  h1 {
    line-height: 3.5;
    font-size: $fs-400;

    @include md {
      font-size: $fs-500;
    }

    span {
      display: block;
      line-height: 1.5;
      font-size: $fs-800;

      @include md {
        font-size: $fs-900;
      }
    }
  }

  p {
    line-height: 2;
    max-width: 540px;
  }
}
